<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"><title>Quiz2015</title>
    <link rel="icon" href="favicon.ico" />
  </head>
  <body>
    <h2>Estadísticas</h2>
    <ul>
      <li>Número total de preguntas: <%= statistics.questions %></li>
      <li>Número total de comentarios: <%= statistics.comments %></li>
      <li>Número de comentarios sin publicar: <%= statistics.unpublished %> </li>
      <li>Número de comentarios publicados:<%= statistics.published %> </li>
    </ul>
  </body>
</html>
